<% provide(:title, 'Home Page - Displaying Events') %>
<h1>Events</h1>
<h3 text align:centre> Click on link to view and attend event <h3>

<table class="table table-bordered">
	<tr>
		<th>Event Name</th>
		<th>Date of Creation</th>
		
	</tr>
	<% @events.each do |events| %>
			<tr>
				<td><%= link_to events.name, event_path(:id => events.id) %></td>
				<td><%= events.created_at.strftime("Created: %m/%d/%Y") %></td>
			<tr>
	<%end%>
</table>

